<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Quandtum Core</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/shops">Shops</a></li>
            <li><a href="/shops/new">Add Shop</a></li>
          </ul>
    </div>
</nav>