<h1>Donut Shop</h1>

<div class="row"></div>
<div class="col s12">
    <img style="width:100%;height:auto;" class="responsive-img" alt="donut banner" src="https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-donut-fresh-banner-image_178296.jpg">
</div>
<div class="row">
    <div class="col s4">
        <img class="responsive-img" alt="donuts1" src="https://s.abcnews.com/images/US/donut-shop-03-ht-jef-190311_hpMain_16x9_992.jpg">
    </div>
    <div class="col s4">
        <img class="responsive-img" alt="donuts2" src="https://media3.s-nbcnews.com/j/newscms/2018_44/2631486/181103-donut-city-seal-beach-ew-1228p_aa041e2147eeaf7955fc1111b51f91de.fit-760w.jpg">
    </div>
    <div class="col s4">
        <img class="responsive-img" alt="donuts3" src="http://wheninhuntington.com/wp-content/uploads/2018/02/Golden-Boy-Donut-Shop.jpg">
    </div>
</div>