<h1>Show All</h1>

<div class="row">
    <% shop.forEach(s => { %>
        <div class="col s3">
            <h2>
                <a href="/shops/<%=s.id%>">
                    <%= s.name %>
                </a>
            </h2>
        </div>
    <% }) %>
</div>